selenium/7.1.1/.classpath
selenium/7.1.1/.project
selenium/7.1.1/.settings
selenium/7.1.1/TestFiles
selenium/7.1.1/build
selenium/7.1.1/log.txt
selenium/7.1.1/logs
selenium/7.1.1/target/autotests*.*
selenium/7.1.1/test-output
selenium/mailer/.classpath
selenium/mailer/.project
selenium/mailer/.settings
selenium/mailer/logs
selenium/mailer/target
selenium/ps7_1/.classpath
selenium/ps7_1/.project
selenium/ps7_1/.settings
selenium/ps7_1/TestFiles
selenium/ps7_1/build
selenium/ps7_1/log.txt
selenium/ps7_1/logs
selenium/ps7_1/target/autotests*.*
selenium/ps7_1/test-output
selenium/ps_trunk/.classpath
selenium/ps_trunk/.project
selenium/ps_trunk/.settings
selenium/ps_trunk/TestFiles
selenium/ps_trunk/build
selenium/ps_trunk/log.txt
unit_old/*.launch
unit_old/.classpath
unit_old/.project
unit_old/.settings
unit_old/bin
Telerik_TestStudio/PSS_Automation/bin
Telerik_TestStudio/PSS_Automation/obj
Telerik_TestStudio/PSS_Automation/Results
Telerik_TestStudio/PSS_Automation/License.log